# Data Types
* **In programming, data type is an important concept.**
* **Variables can store data of different types, and different types can do different things.**
* **In R, variables do not need to be declared with any particular type, and can even change type after they have been set:**

In [1]:
my_var <- 30 # my_var is type of numeric
my_var <- "Sally" # my_var is now of type character

## Basic Data Types
**Basic data types in R can be divided into the following types:**

* **`numeric`   - (10.5, 55, 787)**
* **`integer`   - (1L, 55L, 100L, where the letter "L" declares this as an integer)**
* **`complex`   - (9 + 3i, where "i" is the imaginary part)**
* **`character` - ("k", "R is exciting", "FALSE", "11.5")**
* **`logical`   - (TRUE or FALSE)**<p>
**We can use the `class()` function to check the data type of a variable:**

In [3]:
# numeric
x <- 10.5
class(x)

[1] "numeric"

In [4]:
# integer
x <- 1000L
class(x)

[1] "integer"

In [5]:
# complex
x <- 9i + 3
class(x)

[1] "complex"

In [6]:
# character/string
x <- "R is exciting"
class(x)

[1] "character"

In [7]:
# logical/boolean
x <- TRUE
class(x)

[1] "logical"

## Numeric
A numeric `data type` is the most common type in R, and contains any number with or without a decimal, like: 10.5, 55, 787:

In [9]:
x <- 10.5
y <- 55

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 10.5

[1] 55

[1] "numeric"

[1] "numeric"

## Integer
Integers are numeric data without decimals. This is used when you are certain that you will never create a variable that should contain decimals. To create an `integer` variable, you must use the letter `L` after the integer value:

In [10]:
x <- 1000L
y <- 55L

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 1000

[1] 55

[1] "integer"

[1] "integer"

## Complex
A complex number is written with an "i" as the imaginary part:

In [11]:
x <- 3+5i
y <- 5i

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 3+5i

[1] 0+5i

[1] "complex"

[1] "complex"

## Type Conversion
You can convert from one type to another with the following functions:

`as.numeric()`
`as.integer()`
`as.complex()`

In [12]:
x <- 1L # integer
y <- 2 # numeric

# convert from integer to numeric:
a <- as.numeric(x)

# convert from numeric to integer:
b <- as.integer(y)

# print values of x and y
x
y

# print the class name of a and b
class(a)
class(b)

[1] 1

[1] 2

[1] "numeric"

[1] "integer"

# Built-in Math Functions
R also has many built-in math functions that allows you to perform mathematical tasks on numbers.<p>
The `min()` and `max()` functions can be used to find the `lowest` or `highest` number in a set<p>
The `sqrt()` function returns the square root of a number<p>
The `abs()` function returns the absolute (positive) value of a number<p>
The `ceiling()` function rounds a number upwards to its nearest integer, and the `floor()` function rounds a number downwards to its nearest integer, and returns the result

In [20]:
# Max
max(5, 10, 15)

[1] 15

In [21]:
# Min
min(5, 10, 15)

[1] 5

In [22]:
# Sqrt
sqrt(16)

[1] 4

In [23]:
# Abs
abs(-4.7)

[1] 4.7

In [24]:
# Ceil
ceiling(1.4)

[1] 2

In [25]:
# Floor
floor(1.4)

[1] 1